body {
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Indie Flower', cursive;
    background-color: rgb(66, 66, 66) !important;
    min-height: 100vh;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
}

.pointer {
    cursor: pointer;
}

.selection {
    position: absolute;
    top: 0;
    left: 5px;
    z-index: 3;
    color: #ad3e33;
}

.center {
    display: flex;
    justify-content: center !important;
    align-items: center;
    }

.content {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
}

.card-img-small {
    max-height: 20vh;
    object-fit: contain;
}

.answer {
    transition: all 100ms ease-in-out;
}

.answer:hover {
    background-color: rgba(0, 0, 0, 0.05);
   }

.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-group-item {
    transition: all 100ms ease-in-out;
}

.list-group-item:hover {
    text-decoration: underline;
    color: #e9766c;
}