body {
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Indie Flower', cursive;
    background-color: #6c757d !important;
    min-height: 100vh;
}

.button-answer {
    width: 100%;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
}

.pointer {
    cursor: pointer;
}

.d-none {
    display: none;
}

.pos-right {
    position: absolute;
    right: 24px;
}

.selection {
    z-index: -1;
    color: #ad3e33;
}

.center {
    display: flex;
    justify-content: center !important;
    align-items: center;
}

.center-y {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.content {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
}

.main-card {
    width: 26rem !important;
}

.card-img-small {
    max-height: 20vh;
    object-fit: cover;
}

.answer {
    transition: all 100ms ease-in-out;
}

.answer:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-group-item {
    transition: all 100ms ease-in-out;
    /* border-left: transparent 5px solid !important; */
    padding-left: 11px !important;
    font-size: 40px;
}

.list-group-item:hover {
    border-left: solid 5px #e9766c !important;
    color: #e9766c;
}

.bg-success, .bg-secondary {
    color: white;
}

.score {
    color: #ad3e33;
    font-weight: 700;
    font-size: 42px;
}